body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.card {
    background-color: rgba(255,255,255,0.6);
}

.card-header {
    background-color: #0a58ca ;
    color: white;
    font-family :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}