{% extends 'correction.twig.html' %}

{% block main %}
<div class="row">
    <div class="col" id="MD">
    </div>
</div>
<script>
    markdowns.loadMD("ressources/characters/assets/markdown/correction.md");
</script>
{% endblock %}