{% set has_javascript = true %}

{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Représentation des caractères </h2>
    <h3> Écriture des nombres en binaire </h3>
    <p>
        Un ordinateur fonctionne grâce à des transistors, que l'on peut considérer comme des interrupteurs électroniques
        qui vont bloquer ou laisser passer un courant. Ces deux états sont symbolisés par 0 et 1. Nous avons vu
        précedemment que les nombres, que l'on écrit usuellement en écriture décimale, c'est à dire en base 10, peuvent
        être écrit dans une base quelconque, et en particulier en base 2, que l'on appelle écriture binaire. Cette
        décomposition en base se traduit de la façon suivante :
    </p>
    <p class="text-center">
        \( \displaystyle n = \sum_{i=0}^{i=k} a_i 2^i \) ou chaque \(a_i\) vaut 0 ou 1. <br>
        Par exemple, \( 13 = 1 \times 2^3 + 1 \times 2^2 + 0 \times 2^1 + 1 \times 2^0 \) <br>
        et donc 13 s'écrit \(1101\) en base 2.
    </p>
    <div class="todo">
        <h6> À faire vous même </h6>
        <p>
            Écrivez les nombres 3, 15,17, 63,64, 255 en base 2.
        </p>
    </div>
    <p>
        Cette possibilité d'écrire les nombres en binaire nous permet de traduire les nombres en quelque chose de
        compréhensible au niveau machine par l'ordinateur. C'est ce qui permet de faire des calculs avec les nombres
        entiers grâce à des circuits intégrés spécifiques, les additionneurs complets.
    </p>
    <h3>
        Les caractères
    </h3>
    <p>
        Pour les caractères, il ne va pas s'agir d'écrire des nombres sous une autre forme.
        Il va s'agir d'écrire des caractères à partir de 0 ou de 1. La façon la plus évidente de fonctionner est
        d'utiliser un code. Il existe un code que tout le monde connait : le code morse. Ces trait-point pourraient
        parfaitement être traduits en 0 1. Mais le code morse n'utilise pas juste des traits et des points. Il utilise
        aussi des silences, courts pour séparer les lettres et longs pour séparer les mots. En effet, comment, sans les
        silences, différencier le A ( point trait ) de la séquence ET (E se traduit par un point, T par un trait)
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:40vh;"
                src="ressources/characters/assets/img/International_Morse_Code-fr.gif">
            <figcaption class="figure-caption"> Code morse international</figcaption>
        </figure>
    </div>
    <p>
        Le code morse ne convient donc pas pour notre problème. Il a par ailleurs d'autres défauts que nous n'aborderons
        pas. Nous allons plutôt voir comment on a conçu un code pour les ordinateurs, en commençant par le fameux code ASCII.
    </p>
</div>
<div class="remarque">
    <h6>Attributions</h6>
    <p>
        Ce cours a été créé à partir de multiples ressources sur le web, en particulier wikipedia pour de nombreux
        éléments,
        et <a href="https://pixees.fr/informatiquelycee/n_site/nsi_prem_texte.html">Le cours de David Roche sur la
            repésentation d'un texte</a>.
        L'image d'arrière plan est une photo <a
            href="https://unsplash.com/@swimstaralex?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">d'Alexander
            Sinn</a> sur <a
            href="https://unsplash.com/s/photos/numbers?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
</div>
<!--
<div class="essais">
	<button type="button" class="btn btn-success btn-javascript" data-script="test" data-activite="characters">
		Vérifier votre réponse.
	</button>
</div>
-->
{% endblock %}